.alazkar{background:  rgba(250, 251, 252, 0.582);
    padding: 50px 50px; 
    /* margin: 30px 10px 10px 300px;  */
    border: solid rgb(214, 214, 188) ;
    text-align: center; 
    color: rgb(8, 7, 8);
    font-size: xx-large;

}
.altaslem{background: rgb(214, 214, 188);
font-size: 100px;
color: red;

}

