.alsora{ background:  rgba(255, 255, 255, 0.486);
    padding: 50px;
    margin: 60px 20px 60px 60px; 
    border:  rgb(0, 47, 255) ;
    text-align: right; 
    color: rgb(8, 7, 8);
    
    font-size: 50px;






}
.السور{
    text-align: left;
    font-size: xx-large;
background-color: rgba(230, 221, 221, 0.555);
padding: 50px 120px 0px 120px;
margin: 50px 170px 0px 170px;
/* border: solid rebeccapurple; */
display: block;

}
#kl{
    /* background-color: rgba(0, 255, 64, 0.842); */
    margin: 5px 170px 5px 170px;
    /* border: rgb(8, 7, 8)solid; */
color: rgb(7, 2, 1);
text-align: center;
font-size: 50px;
font-style: bold;




}
pre{
    /* text-align: center; */
}


